{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "es2015",
    "es2015-node",
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    "transform-async-to-generator"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-2"
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
